.cart-tab{
    position: absolute;
    top: 22px;
    right: 230px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
}
.Home-tab{
    position: absolute;
    top: 22px;
    left: 280px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    background-color: salmon;

}