.sidebar{
    height: 100vh;
    width: 20vw;
    background-color:rgb(203, 170, 247);
}
.sidebar p{
    font-size: 2rem;
    text-align: center;
}
.link{
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
}
.content{
    width: 100%;
    display: flex;
    
}
.mycourses{
    display: flex;
    margin: 2rem;
    width: 100%;
    flex-wrap: wrap;
}
.courses{
    width: 13rem;
    margin: 1rem;
}