.sidebar{
    height: 90vh;
    width: 20vw;
    background: linear-gradient(#f8f6f4, #f77824);
}
.sidebar p{
    font-size: 2rem;
    text-align: center;
    background-color: rgb(252, 209, 19);
    
}
.link{
    font-size: 100%;
    text-align: right;
    text-decoration: none;
    color:#ffffff ;
}
.content{
    width: 100%;
    display: flex;
    
}
.mycourses{
    display: flex;
    margin: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.courses{
    width: 13rem;
    margin: 1rem;
}
.course-detail-div{
    width:100vw;
    margin: 2rem;
    margin: 1rem;
}
.courseimg{
    display: flex;
    justify-content: space-around;
}
.courseimg-img{
    width: 30vw;
    height: 40vh;
}
.completed{
    background-color: green;
   
}